* {
    box-sizing: content-box;
    border: 0;
    margin: 0;
}


body {
    background-color: black;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
h1{
    font-size: 26px;
}
h1{
    font-size: 20px;
    color:#51BCFF;
}
a{
    color:#666;
    text-decoration: none;
}

a:hover {
    color:#51BCFF;
}


/* Style the header */
header {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  background-color: #333333;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 0%;
  padding-left: 0%;
  text-align: center;
  font-size: 35px;
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.6),
            -2px 0px 3px 0px rgba(0, 0, 0, 0.6);

}

/* Container for flexboxes */
section {
  display: -webkit-flex; /* Safari */
  display: flex; /* IE 10 */
  padding: 1.2%;

}
main {
  display: -webkit-flex; /* Safari */
  display: flex; /* IE 10 */
    flex: 1;
}
/* Style the navigation menu */

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  min-width: 0%;
  background-color: black;
  padding: 1.2%;
  text-align: left;
  word-wrap: break-word;

}
aside {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    background: #ccc;
    text-align: center;
    box-shadow: 0 -3px 0px 0px #666,
                2px 0px 3px 0px rgba(0, 0, 0, 0.6),
                -2px 0px 3px 0px rgba(0, 0, 0, 0.6);


}

/* Style the footer */
footer {
  background-color: #333333;
  padding: 10px;
  text-align: center;
  color: #51BCFF;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.6);
  height: 100%;
}
