html, body
{
    margin: 0px;
    background-color: #000000;
}
p, h1, h2, a, span
{
    color: white;
    text-decoration: none;
}
h1
{
    font-weight: 400;
}
h2, h3, h4, h5, h6{
  font-weight: normal;
}
p
{
    font-size: 22px;

}
a:hover
{
    text-decoration: underline;
}
.wrapper
{
    max-width: calc(1200px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
}
.header-title > a
{
    font-family: 'Metal Mania', cursive;

    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;

}
.main-nav
{
    position: absolute;
    bottom: 12px;
    right: 60px;
    text-align: right;

}
.main-nav a
{
    font-family: 'Metal Mania', cursive;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 800;
    padding-right: 18px;
    -webkit-text-stroke: 1px black;


}
.main-nav a:hover
{
    font-size: 35px;
    text-decoration: none;

}

.header-banner
{
    position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      background-position: bottom;
      border-top: 3px solid;
      border-bottom: 3px solid;
}
.header-banner.index
{
      background-image: url("banner.jpg");
}
.header-banner.projects
{
      background-image: url("webbanner.jpg");
      background-position: left;

}
.header-banner.games
{
      background-image: url("gamesbanner.jpg");
      background-position: top;

}
.content
{
    background-color: #000000;
    border-bottom: 3px solid #ffffff;

}
.content .wrapper
{
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;

    padding-top: 16px;
    padding-bottom: 16px;
}
.content h1
{
    font-family: 'Metal Mania', cursive;
}
.content a
{
    color: #ffffff;
    text-decoration: underline;
}
.content li
{
    color: #ffffff;
    padding-bottom: 10px;

}
.home a
{
  text-decoration: none;
}
.footer
{
    color: black;
}
.footer p
{
    margin-top: 8px;
    text-align: center;
    font-family: 'Metal Mania', cursive;
}
#flink
{
    font-size: 38px;
}
@media only screen and (max-width: 600px) {
    .content .wrapper
    {
        font-size: 18px;
    }
}
